{% extends 'public/nav.html' %}
{% import 'macro/form.html' as forms %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename="stylesheets/noIndexBoard.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="stylesheets/myActivities.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="stylesheets/design/purpleBody.css") }}">
{% endblock %}
{% block content %}
    <div class="contentBelowNav">
        {% for activity in activities %}
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>{{ activity['name'] }}</h2>
                        </div>
                        <div class="panel-body">
                            <table class="desc-table">
                                <tr>
                                    <td>Time:</td>
                                    <td>{{ activity['time'] }}</td>
                                </tr>
                                <tr>
                                    <td>Venue:</td>
                                    <td>{{ activity['venue'] }}</td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td>{{ activity['description'] }}</td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                </table>
                                <hr>
                                <span style="font-size: 32px; color: #3399FF">Your registration information:</span>
                                <table class="desc-table">
                                <tr>
                                    <td>Email:</td>
                                    <td>{{ activity['user_inf']['email'] }}</td>
                                </tr>
                                <tr>
                                    <td>Tel:</td>
                                    <td>{{ activity['user_inf']['tel'] }}</td>
                                </tr>
                                <tr>
                                    <td>College:</td>
                                    <td>{{ activity['user_inf']['college'] }}</td>
                                </tr>
                                <tr>
                                    <td>Department:</td>
                                    <td>{{ activity['user_inf']['dept'] }}</td>
                                </tr>
                                <tr>
                                    <td>Year:</td>
                                    <td>{{ activity['user_inf']['year'] }}</td>
                                </tr>
                                <tr>
                                    <td>Student ID:</td>
                                    <td>{{ activity['user_inf']['sid'] }}</td>
                                </tr>
                                <tr>
                                    <td>CV</td>
                                    <td><a href="{{ activity['user_inf']['cv'] }}">Click to download</a></td>
                                </tr>
                                <tr>
                                    <td>Iterview time</td>
                                </tr>
                                <tr>
                                    <td>1st choice:</td>
                                    <td>{{ activity['user_inf']['time_slot'] }}</td>
                                </tr>
                                <tr>
                                    <td>2nd choice:</td>
                                    <td>{{ activity['user_inf']['time_slot2'] }}</td>
                                </tr>
                                <tr>
                                    <td>3rd choice:</td>
                                    <td>{{ activity['user_inf']['time_slot3'] }}</td>
                                </tr>
                                <tr>
                                    <td>Interview venue:</td>
                                    <td>We will contact you soon after we review your CV</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}