{% extends 'public/main.html' %}
{% import 'macro/form.html' as forms %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename="stylesheets/noIndexBoard.css") }}"
{% endblock %}
{% block content %}
    <div class="contentBelowNav">
        <div class="row icon">
            <div class="col-lg-5 col-md-4 col-sm-3">

            </div>
            <div class="col-lg-2 col-md-4  col-sm-6">
                <img src="{{ url_for('static',filename='resource/icon/reic_new.png')}}" class="img-responsive"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-3">

            </div>
            <div class="col-lg-2 col-md-4  col-sm-6">
                <form class="form-horizontal" role="form" action="signUp" method="post">
                    {{ form.csrf_token }}
                    {{ forms.render_field(form.email, with_label='Username') }}
                    {{ forms.render_field(form.password, with_label='Password') }}
                    {{ forms.render_field(form.password_confirm, with_label='Password confirm') }}
                    {{ forms.render_field(form.username, with_label='User name') }}
                    {{ forms.render_field(form.tel, with_label='Telephone') }}
                    {{ forms.render_field(form.sid, with_label='SID') }}
                    {{ forms.render_field(form.dept, with_label='Department') }}
                    {{ forms.render_field(form.college, with_label='College') }}
                    {{ forms.render_field(form.year, with_label='Year') }}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <a href="#" class="alert-link">{{ error }}</a>
                        </div>
                    {% endif %}
                    {{ forms.render_field(form.submit,class_='btn-success',text="Sign Up") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}